*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$Edition: blue;
$Brand_campaign: orange;
$Recruiting: teal;
$Mobile: red;
$Website: #4A0404;
$Sales: #e3ff00 ;
$Tomorrow_today: green;
$Add_task_list: blue;